body {
    font-family:'Roboto', sans-serif;
}

.body-content {
    padding:0;
}

h1, h2, h3, h4, h5, h6 {
     font-family: 'Roboto', sans-serif;
     font-weight:400;
}

h1 {
    font-family:'Crimson Text', serif;
    font-size:2.8em;
}

#arrowImage {
    height:70px;
    margin-bottom:1em;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select {
    max-width: 280px;
}*/

textarea {
    width: 100%;
    margin-bottom: 1em;
}

.checkbox {
    text-align:left;
}

select {
    margin-bottom:1em;
}

label {
    text-align: left;
    display: block;
    font-weight: 400;
}

.row {
    padding:0;
    margin:0;
}

h2 {
    margin-bottom:0.5em;
    font-family:'Crimson Text', serif;
    text-align:center;
    font-size:2.3em;
    font-weight:700;
}

h3 {
    font-size:1.5em;
}

.displayNone {
    display:none;
}

.fullScreenSection {
    min-height:100%;
}

 .flexDiv {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

 #mainSection {
    background-repeat:no-repeat;
    background-image: url('images/city_1920_1080.jpg');
    background-size:cover;
    min-height:100%;
    padding: 2em 4em 0;
}

#mainQuestion {
     display:block;
     padding:0;
     opacity:1;
     background-color:transparent;
     width:90%;
 }

 #buttonWrapper {
    border: 3px solid #52aea5;
    border: 3px solid #11a15e;
    background-color:rgba(255,255,255,0.7);
    padding:2em;
 }

#commercialDealsPicture {
    background-repeat:no-repeat;
    background-image: url('images/people_1920_1080.jpg');
    background-size:cover;
    min-height:100%;
    padding: 2em 4em 0;
    /*background-attachment:fixed;*/
}

 .columnWide {
     width:70%;
     align-items:flex-end;
 }

 .columnNarrow {
    text-align:center;
    max-width:25%;
}

 #arrowHolder {
    height: 34px;
}

 .questionList {
    display:none;
    background-color:rgba(255,255,255,0.8);
    padding: 1em 2em;
    /*opacity:0;
    webkit-transition: opacity 1s linear 1s;
    transition: opacity 1s linear 1s;
    position:relative;
    top:50px;*/

}
 .opacityNone {
     opacity:0 !important;
     display:none !important;
 }

 .opacityFull {
    display: block;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
 }


 button {
     width:100%;
     height:50px;
     border:none;
     outline:0;
     margin:1em 0;
     color:#fff !important;
     font-size:1.2em;
 }

.orangeButton {
    background-color: #e37607;
}

.orangeButton:hover, .orangeButton:active, .orangeButton:focus {
    background-color: #e1974b;
}

.greenButton {
    background-color: #059f05;
}

.greenButton:hover, .greenButton:active, .greenButton:focus {
    background-color: #2fc22f;
}

.nextBtn, .previousButton, #submitButton {
    width: 100px;
    height: 40px;
    background-color: #31c02e;
}

#submitButton {
    width: 100px;
    height: 40px;
}

.nextBtn:hover, .nextBtn:focus, .nextBtn:active {
        background-color: #5ac157;
}

.previousButton{
    background-color:gray;
}

.previousButton:hover, .previousButton:focus, .previousButton:active {
    background-color: #a6a4a4;;
}

#frontPageText {
    background-color:rgba(255,255,255,0.7);
    width: 80%;
    padding: 1em;
    margin-top:10%;
}

#logoImage {
    width: 400px;
}

#mainQuestion p {
    font-size:1.5em;
}


.questionList p {
    font-size: 1.2em;
}

input[type="text"], input[type="number"], input[type="email"], select {
    /*max-width: 280px;*/
    height: 40px;
    width: 100%;
    margin-bottom:1em;
    min-width:240px;
}

input[type="text"], input[type="number"], input[type="email"], textarea, select {
    border: 1px solid #9ed7da !important;
    border-radius:0 !important;
}
    

.questionList .row {
    padding: 1.5em 0 0 0;
}

p.displayError {
    color:red;
    display:none;
    font-size:1em;
}

.termsRow {
    padding:0 !important;
}

#refinanceQuestion3 .row {
    padding: 1em 0 0 0;
}

#thankYouMessage {
    background-color: rgba(255,255,255,0.8);
    max-width: 300px;
    padding: 2em;
    font-size: 1.5em;
}

.loanList {
    background-color: #adeef5;
    background-color: #273f74;
    margin: 1em 1em 1em 0;
    padding: 1em;
    color:#fff;
}

#commercialDeals .flexColumn {
    width:25%;
    background-color: #273f74;
    border: 1px solid #fff;
    /*-webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;*/
}

.loanList p {
    text-transform:capitalize;
}

section>h2 {
    margin:1em 1em 0.5em;
}

.verticalSeparator {
    width:0.5%;
    margin:20px 0;
}

#blueDivs .snippet {
    background-color: #128ab9;
}

#blueDivs .verticalSeparator {
    background-color: #128ab9;
}

.snippet {
    width: 31%;
    text-align: center;
    padding: 2em;
    margin: 20px 10px;
    color:#fff;
    font-size:1.3em;
}

.smallFont {
    font-size:1em;
    font-weight:300;
}

#greenDivs .snippet {
    background-color: #058c41;
    margin-top: 0;
    margin-bottom:0;
}
#greenDivs .verticalSeparator {
    background-color: #058c41;
    margin:0;
}

.snippet:first-child {
    margin-left:0;
}

.snippet:last-child {
    margin-right:0;
}

.emptyDiv {
    height:1em;
}

.snippet p {
    font-weight: 300;
}

#addressRow {
    margin-top:1em;
    font-size:1.2em;
}

#addressRow h3 {
    color: darkorange;
    margin-bottom:1em;
}

#addressRow h4 {
    font-weight:700;
    text-transform:uppercase;
}

hr {
    margin:0;
}

footer {
    text-align: center;
    background-color: #adeef5;
    padding: 1em;
    margin-top: 2em;
}

p:last-child {
    margin-bottom:0;
}

.show {
    display:block;
}

.icon {
    height:35px;
}

.snippet h3 {
    margin: 0.5em 1em 0.5em;
}

#commercialDealsPicture {
    height:500px;
}

.record {
    background-color:#f0f0f0;
    padding:1em;
    margin-bottom:1em;
    font-size:1.2em;
}
.emptyRecord {
    height:300px;
    align-items:center;
}
#dashboardContainer h3 {
    text-align:center;
    margin-bottom:1em;
}
#dashboardContainer .column {
    width:50%;
}

#sandbox button{
        background-color: #3bc295;
}

.loanList p {
    font-family: 'Kreon', serif;
}
.veryLarge {
    font-size:2.5em;
}
.slightlyLarge {
    font-size:2em;
}
.normal {
    font-size:1.5em;
}
.small {
    font-size: 1em;
}
.smallest {
    font-size:0.9em;
}

 @-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


@media only screen and (max-width:1300px){
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size:1.8em;
    }
    h3 {
        font-size:1em;
    }
    .columnNarrow {
        max-width:30%;
    }
    #mainQuestion {
        width:100%;
    }
    #dashboardContainer h3 {
        font-size:1.5em;
    }
    #logoImage {
        width: 350px;
    }

    .loanList {
        margin:0;
    }
    .snippet p{
        font-size:0.9em;
    }
    #commercialDeals .flexColumn {
        width: 49%;
        text-align:center;
    }
    #commercialDeals .flexColumn:nth-child(odd){
        padding: 1em 0.5em 0 1em;
    }
     #commercialDeals .flexColumn:nth-child(even){
         padding: 1em 1em 0 0.5em;
    }

     #commercialDealsPicture {
         margin-top:1em;
     }
     .icon {
        height: 30px;
    }
}

@media only screen and (max-width:1000px){
    h1 {
        font-size: 2em;
    }
    /*h2 {
        font-size:1.5em;
    }*/

    /*button {
        width:150px;
    }*/

    #frontPageText {
        width:90%;
    }

    #mainSection {
        padding: 2em 2em 0;
    }
    #logoImage {
        width: 300px;
    }
    #commercialDealsPicture {
        height: 300px;
    }
    .record {
        font-size:1em;
    }
}

@media only screen and (max-width:768px) {
    .columnWide, .columnNarrow {
        width:100%;
    }
    h2 {
        font-size:3em;
    }

    button {
        width:200px;
    }
    #buttonWrapper, .questionList {
        width:50%;
        margin:0 auto;
    }
    #logoImage {
        width: 300px;
        margin-left: 2em;
    }

    #mainSection {
        padding: 2em 0em 0;
    }

    .snippet {
        padding:1em;
    }
    p.smallFont {
        font-size:0.8em;
    }

    .columnNarrow {
        order:1;
        max-width:100%;
        width:-webkit-calc(100%-2em);
        width:-moz-calc(100%-2em);
        width:calc(100%-2em);
        margin:10% 0 0;
    }
    .columnWide {
        order:2;
        padding:1em;
    }
    #frontPageText {
        margin-top: 1em;
        width: 100%;
        margin-top: 20%;
    }
    #mainQuestion {
        background-color: transparent;
    }
    .form-control {
        margin:0 auto;
    }
    #thankYouMessage {
        max-width: 50%;
        margin: 0 auto;
    }

    .form-group {
        max-width:280px;
        margin:0 auto;
    }
}

@media only screen and (max-width: 420px) {
    #buttonWrapper, .questionList {
        width: 100%;
        margin: 0 auto;
    }
    #buttonWrapper {
        padding:1em;
    }
    #logoImage {
        width: 200px;
        margin-left: 1em;
    }
    #mainSection {
        padding: 1em 0 0;
    }
    #frontPageText {
        margin-top: 1em;
        width: 100%;
        margin-top: 0;
    }
    #arrowImage {
        height: 60px;
    }

    .columnNarrow {
        margin:0;
    }
    .questionList .row {
        padding: 0.5em 0 0 0;
    }
    h1 {
        font-size:1.3em;
        margin: 0 0 5px;
    }
    /*h1:first-child {
        margin-bottom:0.5em;
    }*/
    h2 {
        font-size:1.8em;
        margin-bottom:0;
    }
    input[type="text"], input[type="number"], input[type="email"], select {
        max-width: 100%;
    }
    .form-control {
        max-width:100%;
    }
    .questionList {
        padding: 1em 2em;
        margin-top:10%;
    }

    #commercialDeals .flexColumn {
        width: 100%;
        text-align: center;
        border:none;
    }
    #commercialDeals .flexColumn:nth-child(odd) {
        padding: 0 1px 2px;
    }
    #commercialDeals .flexColumn:nth-child(even) {
        padding: 0 1px 2px;
    }
    .snippet {
        width:100%;
        border:1px solid #fff;
        margin:0;
        font-size:1em;
    }
    .verticalSeparator {
        display:none;
    }
    p.smallFont {
         font-size: 0.9em;
    }
    #commercialDealsPicture {
        height: 240px;
        padding:0;
        margin:0;
    }
    #thankYouMessage {
        font-size:1.3em;
    }
    #mainQuestion {
        padding:0 1em;
    }
    section>h2 {
        margin:1em 0.5em;
        font-size:1.3em;
    }
    button {
        margin:0.5em;
    }
    #addressRow p, h4{
        font-size:14px;
    }
    #addressRow h3 {
        margin-bottom: 0.5em;
    }
    #addressRow {
        font-size: 1.2em;
    }
    label, .checkbox {
        line-height:20px;
    }
    #dashboardContainer .column {
        width:100%;
    }
}